/*** This is the section for Desktops */

@media (min-width: 1024px) {
.teammate-social-icons > div:hover {
  width: 20px;
  height: 20px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
}

footer .social-icons .icon:hover{
  background-color:blue;
  color:white; 
}

footer .social-icons div:hover{
color:blue;
}

.top-navigation ul li a:hover {
  color: blue;
}
footer ul li a:hover{
  color: blue;
}

}
/*** This is the area for Tablets */


@media (min-width: 768px) and (max-width: 1023px){



}

/*** This is the area for cell phones */
@media (max-width: 767px) {



}