/*** This is the section for Desktops */

@media (min-width: 1024px) {

a:hover {
  background-color: lightblue;
}
.teammate-social-icons > div:hover {
  width: 20px;
  height: 20px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 10px;
}

footer .social-icons .icon:hover{
  background-color:blue;
}

footer .social-icons div:hover{
background-color: lightblue;
}
/*** This is the area for Tablets */
@media (min-width: 768px) and (max-width: 1023px){

}

/*** This is the area for cell phones */
@media (max-width: 767px) {

}